<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p class="text-muted">
          <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="رخصة المشاع الابداعي" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">ArabeJS</span> بواسطة <a xmlns:cc="http://creativecommons.org/ns#" href="htttp://arabjs.ja" property="cc:attributionName" rel="cc:attributionURL">Raafet Dev</a> مرخص بموجب <arel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">رخصة المشاع الإبداعي نسب المصنف - غير تجاري 4.0 دولي</a>.
          <br><b>&copy; 2016 - {{ site.time | date: '%Y' }} ArabeJS </b><br />
        </p>
      </div>
      <div class="col-sm-6">
        <div class="footer-icons">
          {% include footer/footer-icons.html %}
        </div>
        <p class="text-center visible-xs">
          <a href="#page-top" class="btn btn-default btn-simple btn-fab btn-fab-mini btn-round page-scroll">
            <i class="material-icons">&#xE316;</i>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
