---
layout: default
type: home
---



{% for post in site.posts %}









<script>


var startTime = Date.now();
var detectPermissionDialog = function(allowed) {
  if (Date.now() - startTime > timeThreshold) {
    // dialog was shown
  }
  console.log(allowed);
};
var successCallback = function(error) {
  detectPermissionDialog(true);
  console.log(error);
};
var errorCallback = function(error) {
  if ((error.name == 'NotAllowedError') ||
    (error.name == 'PermissionDismissedError')) {
    detectPermissionDialog(error);
console.log(error);
  }
  console.log(error);
};

var constraints = {
   video: true,
   audio: true
};

navigator.mediaDevices.getUserMedia(constraints)
  .then(successCallback, errorCallback);


</script>











<div class="card">
  {% if post.thumb %}
    <a href="{{ site.baseurl }}{{ post.url }}">
      <img class="thumb" src="{{ post.thumb }}" alt="{{ post.title }}">
    </a>
  {% endif %}
  <div class="card-content-1">
    <h6>{{ post.excerpt }}</h6>
    <h2 class="card-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
    <p class="index"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> {{ post.date | date: '%B %d, %Y' }}{% if post.author %} <i class="fa fa-user-o fa-fw" aria-hidden="true"></i> {{ post.author }}{% endif %}</p>
  </div>

  <div class="card-button">
    <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-primary btn-simple">Read More</a>
  </div>

</div>
{% endfor %}
