*{
  font-family: 'Droid Arabic Kufi','Didact Gothic',sans-serif;
}
body {
  background-color: #fafafa;
  padding-top: 70px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main {
  flex: 1;
  margin-bottom: 24px;
}

.RD-si {
    background: rgba(255,255,255,.15);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.RD-si .md-input {
    border-width: 0;
    color: #fff;
    margin: 5px;
    border-color: transparent;
}

.RD-hero{
  background: url(../img/hero.png) no-repeat bottom center;
  background-size: 100%;
}

.RD-hero-text{
  width: 100%;
  text-align: center;
}

.RD-hero-text img{
  -webkit-filter: drop-shadow(0 2px 2px rgba(0,0,0,0.24));
  filter: drop-shadow(0 2px 2px rgba(0,0,0,0.24));
  margin-bottom: 8px;
  opacity: 1;
  padding: 0;
  width: 240px;
}

.flex {
    -webkit-flex: 1;
    flex: 1;
    -webkit-box-flex: 1;
    box-sizing: border-box;
}

.RD-serch{
  display: inline-flex;
  background: rgba(255,255,255,.15);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

#RD-si{
  border-color: transparent;
  border-width: 0;
  color: #fff;
  margin: 5px;
  background: none;
  font-size: 20px;
  padding: 10px;
}

#RD-si::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
#RD-si:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
#RD-si::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
#RD-si:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}

#navbar {
  display: flex !important;
  flex-direction: row;
}

.jumbotron {
  background-color: #3f1680;/*#167c80;*/
  color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.jumbotron p {
  font-size: 18px !important;
}

.RD-pt{
  background-blend-mode: darken;
  background-color: rgba(63, 22, 128, 0.7);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 140%;
  text-align: center;
}

.RD-ainfo-a{
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border-radius: 100%;
  display: inline-block;
}

.RD-ainfo-i {
    display: inline-block;
    margin-right: -15px;
    text-align: right;
}

.RD-ainfo-i h6{
    display: inline-flex;
    margin: 8px 2px;
}

.RD-ainfo-i h6 i{
    line-height: 20px;
}

#n-n{
  color: rgba(0, 0, 0, 0);
}

.media-object{
  width: 64px;
  height: 64px;
  border-radius: 100%;
}

.media-body, .media-left, .media-right {
    vertical-align: middle !important;
}

p,
li {
  font-size: 16px;
  line-height: 1.5;
}

a:hover {
  text-decoration: none;
}

.heading {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
}

.card-content-1 p,
.card-content-1 li {
  font-size: 16px;
  line-height: 1.5
}

.card-title {
  font-weight: 400;
  margin: 0;
}

.card-title a {
  transition: all 0.3s ease-out;
}

.card-title a:hover {
  color: #167c80 !important;
}

.card h6 {
  margin-bottom: 0;
}

.card .thumb {
  width: 100%;
  max-height: 300px;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.container .text-muted {
  margin: 14px 0;
  font-size: 14px !important;
}

.navbar {
  /*transition: box-shadow 0.2s ease-out;*/
}
.navbar-transparent {
  background: white !important;
  color: black !important;
  padding-top: 10px !important;
}

.navbar-shadow {
  box-shadow: 0 1px 8px rgba(0,0,0,.3) !important;
}

.nav li {
  transition: all 0.2s ease-out;
}

.nav li:hover {
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 2px;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  background-color: rgba(0, 0, 0, 0.04);
}

.navbar-brand-img img {
  height: 40px;
  margin-bottom: 2px;
}

.RD-nvbr{
  padding: 5px !important;
}

.icon-bar {
  color: #fff;
}

.btn-white {
  color: #167c80 !important;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  background-color: white;
  margin-bottom: 24px;
  word-wrap: break-word;
}

.card-content-1 {
  padding: 24px;
}

.card p.index {
  margin: 0;
}

.card-button {
  padding: 0 8px;
  border-top: 1px solid rgba(0,0,0,0.12);
}

.card-button .btn {
  padding-right: 16px;
  padding-left: 16px;
  margin-right: 0;
  margin-left: 0;
}

.footer-icons {
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 32px;
  float: left;
  height: 100%;
}

.fa {
  transition: .5s;
}

.fa:hover {
  color: black;
}

.footer {
  width: 100%;
  background-color: #EEEEEE;
}

.footer-img {
  height: 18px;
  margin-top: 16px;
}

.post .jumbotron,
.home .jumbotron {
  padding: 28px 0;
  box-shadow: none;
}

.post h1,
.home h1 {
  font-size: 3.9em;
}

@media (max-width: 768px) {
  .post h1,
  .home h1 {
    font-size: 3.5em;
  }

  .footer-icons,
  .footer {
    text-align: center;
    float: none
  }

  .container.post,
  .container.home {
    padding: 0;
  }

  .container.post .card,
  .container.home .card {
    border-radius: 0;
  }

  .card-content-1 {
    padding: 24px 16px;
  }
}
